.display-controls {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.display-controls-section {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}

.display-config-header {
  font-weight: bold;
  font-size: 18px;
}

.display-index-button {
  all: unset;
  background-color: var(--gray-3);
  color: white;
  flex: 40px 0 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.display-index-button-active  {
  background-color: var(--hi1)
}

.display-index-buttons-container {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: center;
}
