:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 1);
  background-color: var(--gray-0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* variables */
  --gray-0: #101010ff;
  --gray-1: #282828ff;
  --gray-2: #303030ff;
  --gray-3: #383838ff;
  --gray-4: #404040ff;
  --gray-5: #484848ff;
  --gray-6: #505050ff;

  --hi1: rgb(255, 30, 60);
  --hi2: rgb(120, 200, 255);

  --br-small: 3px;
}


* {
  zoom: reset;
}

.inverse-title {
  background: white;
  color: black;
  padding-left: 5px;
  font-weight: bold;
  flex-grow: 1;
}
.inverse-title-container {
  display: flex;
  gap: 7px;
  height: 28px;
}
.inverse-title-button {
  flex-shrink: 0;
  border: none;
  background-color: var(--gray-3);
}
.inverse-title-button:hover {
  background-color: var(--gray-5);
}
.margin-bottom-7 {
  margin-bottom: 7px;
}
.dark-material-input {
  all: unset;
  width: 100%;
  border-radius: 3px 3px 0 0;
  flex-grow: 1;
  padding: 0 4px;
  border-bottom: 3px solid white;
  background-color: var(--gray-2);
}

.form-label-1 {
  display: block;
}

.darken-hover:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}
