:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 --black:	    #100F0FFF;
 --base-950:	#1C1B1AFF;
 --base-900:	#282726FF;
 --base-850:	#343331FF;
 --base-800:	#403E3CFF;
 --base-700:	#575653FF;
 --base-600:	#6F6E69FF;
 --base-500:	#878580FF;
 --base-300:	#B7B5ACFF;
 --base-200:	#CECDC3FF;
 --base-150:	#DAD8CEFF;
 --base-100:	#E6E4D9FF;
 --paper:	    #FFFCF0FF;

 --green-600: #66800BFF;
 --green-400: #879A39FF;
 --green-800: #3D4C07FF;

  /* variables */
  --gray-0: var(--black);
  --gray-1: var(--base-950);
  --gray-2: var(--base-900);
  --gray-3: var(--base-850);
  --gray-4: var(--base-800);
  --gray-5: var(--base-700);
  --gray-6: var(--base-600);

  --hi1: #d71f16ff;
  --hi2: var(--hi1);

  --br-small: 3px;

  color: var(paper);
  background-color: var(--gray-0);
}


*::-webkit-scrollbar {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--gray-5);
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;  
}

*::-webkit-scrollbar-button {
  display: none;
}

body {
  margin: 0;
  padding: 8px;
  height: 100vh;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

* {
  zoom: reset;
}


.inverse-title {
  background: white;
  color: black;
  padding-left: 5px;
  font-weight: bold;
  flex-grow: 1;
}
.inverse-title-container {
  display: flex;
  gap: 7px;
  height: 28px;
}
.inverse-title-button {
  flex-shrink: 0;
  border: none;
  background-color: var(--gray-3);
}
.inverse-title-button:hover {
  background-color: var(--gray-5);
}
.margin-bottom-7 {
  margin-bottom: 7px;
}
.dark-material-input {
  all: unset;
  width: 100%;
  border-radius: 3px 3px 0 0;
  flex-grow: 1;
  padding: 0 4px;
  border-bottom: 3px solid white;
  background-color: var(--gray-2);
  box-sizing: border-box;
}

.form-label-1 {
  display: block;
}

.darken-hover:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}
