:root {
  --blink-opacity: 1;
}
@keyframes blink {
  50% {
    --blink-opacity: 0.3;
  }
}
.main-container {
  animation: blink 0.7s step-start 0s infinite;
}

.blink {
  opacity: var(--blink-opacity);
}


