* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
  overflow: clip;
}
body {
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
}

.text-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.text {
  width: 100%;
  padding-top: 60vh;
  font-size: 400px;
}
