* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
  overflow: clip;
}
body {
  background-color: black;
  font-family: "Helvetica";
  color: white;
  align-items: center;
  justify-content: center;
}

.text-container {
  all: unset;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.text {
  width: 100%;
}

.global {
  background-size: cover;
  background-position: center;
}

/*  fields:
 *    global:
 *      background (as css value)
 *    text:
 *      margin (as %)
 *      font size (as number that we will turn into px)
 *      font
 *      color (as css value)
 *      bold (bool)
 *    images / video:
 *      cover / fit (dropdown)
 * 
 */
