.control-section {
  display: flex;
  flex-direction: column;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  /*background-color: var(--hi1);*/
}

.s {
  font-size: 18px;
}

.text-icon {
  width: 100%;
  text-align: center;
  display: inline-block;
}


.no-select {
  user-select: none;
}

.icon-container {
  --icon-container-bg: var(--gray-3);
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--icon-container-bg);
}

.icons-container {
  width: 17px;
  background: var(--gray-3);
  display: flex;
  flex-direction: column;
}

.icon-button {
  tab-index: -1;
}

.icon-button:hover {
  background-color: var(--gray-5);
}

.icon-button:active {
  background-color: var(--gray-5) !important;
  color: var(--gray-5) !important;
}

.lights-container {
  width: 8px;
  background: var(--gray-3);
  display: flex;
  flex-direction: column;
}

.verse-button-container-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.display-indexes-container {
  padding: 0 5px;
  min-height: 25px;
  background-color: color-mix(in srgb, var(--gray-0), var(--gray-1) 50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.display-index {
  all: unset;
  padding: 0 5px;
  color: gray;
  font-weight: bold;
}

.display-index:hover {
  color: white !important;
}

.up-down-container {
  margin-left: auto;
  display: flex;
  gap: 5px;
  justify-items: center;
  align-items: center;
}

.verse-button-container-row {
  margin: 10px 0;
  display: flex;
  overflow: clip;
}

.verse-up-down-button {
  display: flex;
  align-items: center;
  justify-items: center;
}

.verse-button {
  all: unset;
  width: 100%;
  flex-grow: 1;
  padding: 3px;
  box-sizing: border-box;
  background: var(--gray-1);
}

.verse-button:hover {
  background: var(--gray-5);
}

.verse-button-content {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  min-height: 30px;
}

.line {
  text-align: center;
}

.verse-button-hr {
  width: 65%;
  border: none;
  background-color: var(--gray-4);
  height: 1px;
}

.inline-verse-editor {
  all: unset;
  box-sizing: border-box;
  padding: 5px;
  font-size: 14px;
  line-height: 1.5em;
  overflow-y: scroll;
  height: 100%;
  resize: none;
  background: var(--gray-1);
}

.line {
  /*background: green*/
}

.hidden {
  display: hidden;
}

.image-button-container {
  display: flex;
  flex-direction: column;
}

.image-button {
  all: unset;
  width: 100%;
  flex-grow: 1;
  padding: 3px;
  box-sizing: border-box;
  background: var(--gray-1);
  text-align: center;
}

.image-button:hover {
  background: var(--gray-5);
}
