.open-element-menu {
  /*margin-top: 20px;*/
  display: flex;
  flex-direction: column;
  gap: 7px;
  /*padding: 10px;*/
  /*background-image: linear-gradient(var(--gray-3), var(--gray-0));*/
}

.open-element-item-container {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.open-element-action-button-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 5px;
}

.open-element-action-button {
  all: unset;
  background-color: color-mix(in srgb, var(--gray-5), white 70%);
  border-radius: 4px;
  width: 20px;
  height: 20px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-element-action-button:hover {
  background-color: white;
}

.open-element-action-button-content {
  padding: 0;
  margin: 0;
}

.open-element-item {
  all: unset;
  line-height: 1.1em;
  display: flex;
  gap: 5px;
}

.open-element-item:hover > * {
  color: var(--gray-5) !important;
}

.open-element-item:active {
  color: var(--hi1);
}

.open-element-item-name {
  color: color-mix(in srgb, gray, white 50%);
  font-weight: bold;
}
