.section-controls {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

/*.section-controls-title {*/
/*  flex-grow: 2;*/
/*}*/
/**/
.section-controls-row {
  display: flex;
  gap: 5px;
}

.section-row-text {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: preserve nowrap;
}


.new-element-container {
  display: flex;
  gap: 5px;
  margin-top: 15px;
  height: 28px;
}


.new-element-button {
  all: unset;
  border-radius: var(--br-small);
  background-color: var(--gray-2);
  min-width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-element-button:hover {
  background-color: var(--gray-5);
}

.new-element-button:active {
  background-color: white;
}

.new-element-button-content {
  height: 27px;
}

.note {
  display: block;
  text-wrap: wrap;
  word-wrap: break-word;
  white-space: wrap;
}

.section-title {
  margin: 0;
  margin-top: 30px;
}

.section-controls-add-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.section-controls-add-button {
  border: none;
  font-size: 14px;
  text-align: center;
  background-color: var(--gray-2);
  border-radius: var(--br-small);
  flex: 1;
  padding: 4px;
}

.section-controls-add-button:hover {
  background-color: var(--gray-3);
}

.section-controls-add-button:active {
  background-color: var(--gray-1);
}
